<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="root" value="C:\voltige\sm2023" />
    <add key="results" value="results.xlsx" />
    <add key="horseresults" value="horsepoints.csv" />

    <add key="startlist" value="MagnusL.xlsx" />
    <add key="sortedresults" value="SortedResults.xlsx" />
    <add key="omvandstartordning" value="omvand.xlsx" />
    <add key="inbox" value="inbox" />
    <add key="outbox" value="outbox" />
    <add key="logos" value="logos" />

    <add key="backup" value="backup" />
    <add key="fakebox" value="fakebox" />
    <add key="printedresults" value="printedResults" />
    <add key="mergedresults" value="mergedResults" />
    <add key="publishresults" value="publishResults" />
    <add key="horseresultsfolder" value="publishHorseResults" />
    <add key="htmlresultsfolder" value="htmlResults" />
    <add key="htmlNoResultsfolder" value="htmlNoResults" />
    <add key="cssfolder" value="css" />

    <add key="copiedFromJudgesFolder" value="copiedFromJudges" />
    <add key="judgesWorkingFolder" value="judgesWorking" />

    <add key="teamclasses" value="1,2,21,22" />
    <!--<add key="noresults" value="13"/>--> 
    <add key="noresults" value="" />
    <add key="nopublish" value="" />
    <add key="completed" value="3,4,5,6,8,9,13,15,16,17,18,23,24,25,26" />

    <add key="escamilo" value="2" />
    
    <add key="horse_ind" value="3,4,5,6,8,9,13,15,16,17,18,23,24,25,26" />
    <add key="horse_team" value="1,2,21,22" />
    <add key="horse_pdd" value="7,27,28" />

    <add key="horse_sm_classes" value="1,2,3,4,5,6,7" />
    <add key="horse_nm_classes" value="21,22,23,24,25,26,27,28" />
    <add key="horse_rm_classes" value="8,9" />
    <add key="horse_nationell_classes" value="13,15,16,17,18" />
    
    
    
    
    
    <add key="" value="2" />


    <add key="horsepointclasses" value="1,2,3,4,5,6,7,8,9,21,22,23,24,25,26" />
    <add key="yngre" value="Lovisa,Simone,Ebba,Erik,Selma,Sixten,Hilma,Emma" />

    <add key="omvandclasses"    value="23,3,24,4,25,5,26,6,8,9" />
    <!--<add key="omvandclasses"    value="3,5,6,4,14,15" />-->
    <add key="maxomvandclasses" value="10,15,10,15,17,15,15,15,15,15" />

    <add key="woody" value="false" />


    <add key="ftpserver" value="ftp.oxygeneiv.se" />
    <add key="ftpuser" value="acrfsqqf" />
    <add key="ftppwd" value="1L4R-)hSiY7cg3" />
    <!--<add key="remoteworkingfolder" value="/public/voltige/" />-->
    <!--<add key="remoteworkingfolder" value="/public_html/voltige/" />-->

  
    <!--ftp.uppsalavoltige.se
    uppsalavoltige.se
    SMNM2023-->
   

    <add key="remoteworkingfolder" value="/public_html/voltige/" />
    
    <!--<add key="remotepdfurl" value="http://familjenlundstrom.ownit.nu/voltige/"/>-->
     <add key="remotepdfurl" value="http://oxygeneiv.se/voltige/" />
    
    <!--<add key="ftpserver" value="privat.bahnhof.se" />
    <add key="ftpuser" value="wb653561" />
    <add key="ftppwd" value="foo123" />
    <add key="remoteworkingfolder" value="/" />
    <add key="remotepdfurl" value="http://privat.bahnhof.se/wb653561/" />-->


    <!-- If fake = true we enable the button to fake results in inbox-files -->
    <add key="showmessageboxes" value="false" />
    <add key="competitionstarted" value="false" />


    <add key="resultcalchelper" value="false" />
    <add key="resultsorthelper" value="false" />


    <add key="fake" value="true" />
    <add key="logo" value="logo_ridsport_top_mini.png" />
    <add key="prel" value="PreliminaryResults.png" />
    <add key="logovoid" value="void.png" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.8.1.0" newVersion="2.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPPlus" publicKeyToken="ea159fdaa78159a1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.5.0" newVersion="6.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
