


table.header-table {
    text-align: center;
    font-family: Calibri;
    font-size: 16pt;
    border-spacing: 0;
    border-collapse: collapse;
    word-wrap: break-word;
    white-space: nowrap;
    border: 0px solid black;
}

table.domare-table {
    text-align: left;
    font-family: Calibri;
    font-size: 12pt;
    border-spacing: 0;
    border-collapse: collapse;
    word-wrap: break-word;
    white-space: nowrap;
    border: 3px solid black;
}

table.domare-table td {
        white-space: break-spaces;
}

    th.klassnamn {
    text-align: center;
    font-family: Calibri;
    font-weight: bolder;
    font-size: 30pt;
    border-spacing: 0;
    border-collapse: collapse;
    word-wrap: break-word;
    white-space: nowrap;
    vertical-align: top;
    border-bottom: 0px solid
}

th.tavlingsnamn {
    text-align: center;
    vertical-align: top;
    font-family: Calibri;
    font-weight: bolder;
    font-size: 20pt;
    border-spacing: 0;
    border-collapse: collapse;
    word-wrap: break-word;
    white-space: nowrap;
    border-bottom: 0px solid
}

table.header-table > tbody > tr td.noborder {
    border: none;
}

table.header-table thead th {
    border-bottom: 0px;
}

/* Resultattabellen */


table.result-table {
    text-align: center;
    font-family: Calibri;
    font-size: 12pt;
    border-spacing: 0;
    border-collapse: collapse;
    word-wrap: break-word;
    white-space: nowrap;
    border: 3px solid black;
}

    table.result-table th {
        background: lightgrey;
        border-bottom: 2px solid black;
        border-top: 2px solid black;
        /* width: 10px; */
    }




    table.result-table td {
        border-color: black;
        white-space: break-spaces;
    }

    table.result-table thead {
        border: 2px solid black;
    }


/* tr.toprow, tr.toprow>td,tr.toprow>th{ */
tr.toprow > td {
    border-top: 4px solid black;
}

th.bottomrow, tr.bottomrow {
    border-bottom: 4px solid black;
}

col.dummy {
    width: 5%;
}

col.plats {
    width: 8%;
}

col.ekipage {
    width: 22%;
}

td.empty {
    background: #00ff00;
    border-width: thin;
    border-style:solid;
    /*border-left-style: solid;
    border-left-width: thin;
    border-right-style: solid;
    border-right-width: thin;*/
}

td.indexunderline {
    border-bottom-width: thin;
    border-bottom-style: solid;
}
col.moment {
    width: 10%;
}

col.total {
    width: 10%;
}

colgroup col.indata {
    width: 100px;
}

colgroup col.ikon-left {
    width: 20%;
}

colgroup col.ikon-right {
    width: 20%;
}

colgroup col.klass {
    width: 60%;
}


img.billdal {
    width: 15%;
    object-fit: contain;
}

img.ridsport {
    width: 50%;
    object-fit: contain;
}

img.folksam {
    width: 100%;
    object-fit: contain;
}

/*colgroup.domartabell {
    width: 1%;
}*/
/* 
colgroup col.moment tr  {
    background: red
} */

/*
colgroup.indata tr td{
    border-bottom: 1pt solid #ff000d;
}
 */
td.leftdata {
    border-left-style: solid;
    border-left-width: thin;
}

td.rightdata {
    border-right-style: solid;
    border-right-width: thin;
}

td.resultdata {
    width: 7%;
}

.hidden {
    width: 0
}

table.result-table tr th, table.result-table tr td {
    vertical-align: middle;
    padding:0.1rem;
}

td.left-label, th.left-label {
    text-align: left
}

.result-table .momentlabel {
    text-align: left;
}

.result-table .lastvalue, .result-table th.momentlabel {
    border-right-style: solid;
    border-right-width: thin;
}

.result-table .momentlabel + td {
    border-left-style: solid;
    border-left-width: thin;
}

.result-table .noborder_up {
    border-top: none;
}

.result-table .noborder_down {
    border-bottom: none;
}

ul.b {
    list-style-type: square;
    display: inline-block;
    text-align: left;
}

html {
    overflow-y: scroll;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

img.preliminaryResults {
    max-width: 80%;
    max-height: 80%;
}

@media only screen and (max-width: 680px) {
    th.klassnamn {
        font-size: 14pt;
    }

    th.tavlingsnamn {
        font-size: 12pt;
    }

    table.result-table td {
        font-size: 8pt;
    }

    table.result-table th {
        font-size: 8pt;
    }
}

@media only screen and (max-width: 400px) {
    table.domare-table {
        font-size: 11pt;
    }
}